[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = git://github.com/vim-scripts/paredit.vim.git
[submodule "bundle/numbers"]
	path = bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
